<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourARound"
        tools:targetApi="33">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".EntryActivity"
            android:exported="false" /> <!-- Add your Google Maps API key as meta-data here -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZShPiUN_fogA26tFRvKK79owBT-BuW8c" /> <!-- <activity -->
        <activity
            android:name=".CameraView"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Translator"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationList"
            android:exported="true"
            android:screenOrientation="portrait" />
       <activity
            android:name=".EditLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraWithObject"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>